@import "variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: max;
    overflow-x: hidden;
    overscroll-behavior-x: none;
    height: 100%;
    background-color: $color-surface;
}

img,
svg,
video,
canvas,
iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: $max-width;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, $spacing);
}


@media (max-width: 768px) {
    .main-header .main-nav {
        width: 100%;
    }
}

.full-bleed {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}