@import "variables";

.hero {
    position: relative;
    background: url('../img/1.jpg') center/cover no-repeat;
    color: $color-text-light;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .hero__content {
        max-width: 800px;
        padding: 4rem $spacing;

        h1 {
            color: $color-text-light;
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.3rem;
            color: $color-text-light;
        }
    }
}

.about {
    background-color: $color-muted;
    padding: 4rem $spacing;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing;
    align-items: center;


    .about__text {
        flex: 1 1 50%;

        h2,
        p {
            color: $color-text;
        }
    }

    .about__image {
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 280px;
            height: 280px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
    }
}

.split-section {
    padding: 4rem $spacing;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        max-width: $max-width;
        margin: 0 auto;
    }

    &__image {
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
    }

    &__text {
        flex: 1 1 50%;

        h2,
        p {
            color: $color-text;
        }

        p {
            line-height: 1.6;
        }

        .btn {
            margin-top: 1rem;
        }
    }

    &.alt {
        .split-section__image {
            order: 2;
        }

        .split-section__text {
            order: 1;
        }
    }

    &.bg-dark {
        background-color: $color-surface;

        .split-section__text h2,
        .split-section__text p {
            color: $color-dark;
        }
    }

    &.bg-light {
        background-color: $color-muted;

        .split-section__text h2,
        .split-section__text p {
            color: $color-text
        }

        .split-section__image img {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        }

        .btn {
            background-color: $color-dark;
            color: $color-text;

            &:hover {
                background-color: #08081e;
            }
        }
    }
}
