@import "variables";

body {
    font-family: $font-sans;
    font-size: 16px;
    color: $color-text;
    background-color: $color-dark;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: $font-stack;
    color: $color-text;
    margin: 0 0 1rem;
    line-height: 1.2;
}

p {
    color: $color-text;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.h1-exp {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}